html {
  height: 100%;
  overflow: hidden;
}

body {
  background: url(https://www.solidbackgrounds.com/images/website/950x534/950x534-blue-abstract-noise-free-website-background-image.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.App {
  text-align: center;
}

h1 {
  background-color: rgba(86, 109, 185, 0.90);
  padding: 10px;
  border-radius: 10px;
  color: black;
}

h2 {
  background-color: rgba(86, 109, 185, 0.90);
  padding: 10px;
  border-radius: 10px;
  color: black;
}
